*{
  margin: 0;
  padding: 0;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
}

header{
  display: flex;
  justify-content: center;
  margin-right: 390px;
  margin-top: 30px;
}

.filja{
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 30px;
}

.imagemhe{
  width: 100px;
}
.mulher{
  width: 300px;
}

h1{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: black;
  letter-spacing: 10px;
  font-size: 40px;
}

span{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: hsl(0, 36%, 70%);
}

p{
  color: hsl(0, 36%, 70%);
  font-family: "Josefin Sans";
  font-size: 10px;
}

label{
border: 1px solid hsl(0, 36%, 70%);
padding: 3px;
border-radius: 12px;
}

input{
  border: none;
  outline: none;
}
input::placeholder{
  color: hsl(0, 36%, 70%);
  font-size: 10px;
}

button{
  background-color: hsl(0, 36%, 70%);
  color: white;
  padding: 10px;
  border-radius: 15px;
  border: none;
  font-size: 15px;
}

body{
  background-image: url(base-apparel-coming-soon-master/images/bg-pattern-desktop.svg);
}

@media (max-width: 768px) {
  main{
    display: flex;
    flex-direction: column;
  }
  header{
    margin-right: auto;
    margin-right: auto;
    width: 100%;
  }
}

.alerta{
  color: red;
}

.remover{
  color: forestgreen;
}